.all1{
	width:20%;
	font-size:20px;
	margin:20px;
	color:white;
	background-color:black;
}

.all1:focus{
	background-color: #F4A950;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px red inset;
}