.temp{
    background-color: #F4A950;
}

.dropdown-menu {
    height: 200px;
    overflow-y: scroll;
  }

  .coin-image{
    width:40px;
    height:40px;
  }
  .container-class{
    /* border:1px solid black; */
    width:100%;
  }
  .navbar-main{
    /* border:1px solid red; */
    width:100%;
  }